*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #1e1e1e;
    color: #a0a0a0;
    line-height: 1.6;
    font-family: sans-serif;
}

.main-container{
     display: grid;
     grid-template-columns: 350px 1fr;
     gap: 50px;
     padding-top: 40px;
     margin: auto;
     max-width: 1200px;
}
.sidebar{
    height: 90vh;
    /* border: 1px solid ; */
    background-color: #2a2a2a;
    border-radius: 16px;
    position: sticky;
    top: 40px;
    /* margin-top: 30px; */
}
/* profile section */
.profile{
    text-align: center;
    margin-top: 30px;
    /* border-bottom: 1px solid #3a3a3a; */
}
.profileimg{
    width: 150px;
    height: 130px;
    border-radius: 50%;
    
}
.profile h2{
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}
.main-content{
    
    border: 1px solid #3a3a3a ;
    background-color: #2a2a2a;
    border-radius: 16px;   
    padding: 40px; 
}
.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    font-size: 0.8rem;
    color: #d6a71a;
    border: 1px solid #3a3a3a;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

/* contact section */
.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    padding-left: 40px;
}
.label{
    font-weight: 500;
    font-size: 0.8rem;
}
.value{
    color: #e0e0e0;
    text-decoration: none;
}
.email,.phone{
    margin-bottom: 15px;
}

.contact a{
    color: white;

}

/* social */
.social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    padding-left: 40px;
    text-align: center;
}
.social img{
    width: 24px;
    height: 24px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3 ease;

}
.social img:hover{
         filter: grayscale(0) invert(0);
}


/* maincontent */

/* navbar */
#navigation {
    /* padding: 30px 40px; */
    
     margin-bottom: 10px;
     padding-bottom: 15px;
      border-bottom: 2px solid #3a3a3a;
    

}
 nav{
    
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  
    /* font-size:40px ; */
 }
 nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3 ease;
     

 }
 .active, nav a:hover{
    color: #ffbf00;
 }
 /* nav a:hover{
    
    color:  #ffbf00;
    
 } */

 /* about me */

 .headingabout{
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #e0e0e0;
 }
 .line{
    /* border-bottom: 10px solid #ffbf00; */
    width: 60px;
    height: 5px;
    margin-bottom: 15px;
    background-color: #ffbf00;

 }
 .content{
    text-align: justify;
    font-size: 15px;
 }

 #about{
    margin-bottom: 30px;
    /* font-size: 1.2rem; */
 }

 .headingabout{
   font-size: 18px;
 }
 /* skills section */
 .grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    gap: 15px;
 }
 .headingskills{
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #e0e0e0;
 }
 .item{
    padding: 15px ;
    text-align: center;
    background-color: #1e1e1e;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    text-align: center;
    margin-top: 20px;
    /* transition: transform 0.3 ease, box-shadow 0.3s ease; */
 }
 .item img{
    width: 25px;
    height:25px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(110%);
    margin-bottom: 15px;
 }
 .item h3{
    font-size: 0.9rem;
    font-weight: 300;
 }
 .item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0,0.3);
 }
 .headingeducation{
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #e0e0e0;
    margin-top: 30px;
 }
 .edtech{
    position: relative;
    margin-top: 20px;
 }
 .year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
 }
 .degree{
    color: #e0e0e0;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
 }
 .college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
 }
 .work{
    color: #a0a0a0;
    font-size: 15px;
 }

 .edfirst{
    /* padding-left: 20px; */
    margin-bottom: 30px;
    position: relative;
    padding-left: 25px;
 }
 .edsecond{
    position: relative;
    margin-bottom: 30px;
    padding-left: 25px;
 }
 .goal{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #ffbf00;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 5;

 }
 .liner{
    position: absolute;
    width: 1px;
    border: 2px solid #3a3a3a;
    top: 5px;
    bottom: 0px;
    left: 5px;

 }

 .headingportfolio{
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #e0e0e0;
 }

 .project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 30px;

 }
 .project img{
     width: 100%;
     height:180px ;
     object-fit: cover;
 }
 .project{
    background-color:#1e1e1e ;
    border: 1px solid #3a3a3a;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.5s ease,box-shadow 0.5s ease;
 }
 .project:hover{
   transform:translateY(-5px);
   box-shadow: 0px 0px 10px 10px rgba(0, 0, 0,0.3);
 }

 .card{
    padding: 20px;
 }
 .ecom{
    width: 100%;

     height:180px ;
     object-fit: cover;
 }
 .card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
    font-size: 17px;
 }
 .card p{
    font-size: 13px;
    text-align: start;
    line-height: 1.6;
    color: #a0a0a0;
    margin-bottom: 20px;
 }
 .card span{
    background-color: rgba(255,191,0,0.1);
    color: #ffbf00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
    /* padding-bottom: 10px; */
    
 }
 .tokbackup{
   width: 100%;
   height:180px ;
   object-fit: contain;
 }
 /* .ads{
   width: 100px;
   height:180px ;
   object-fit: cover;
 } */

 @media screen and (max-width:1200px) {

   .main-container{
      
      grid-template-columns: 1fr;
      padding: 20px;
   }
   
   .sidebar{
      position: static;
      height: auto;
   }
  
 }



  @media screen and (max-width:725px) {

  
    .sidebar{
      margin: 5px;
    }

   .project-container{
    display: grid;
    grid-template-columns:1fr;
    gap: 25px;
    margin-top: 30px;

 }

 .main-content{
   padding:10px;
 }

  
 }

 
